<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <section>
        <h1>{{ user.username }}</h1>
    </section>
    <section>
        <h2>Email: {{ user.email }}</h2>
        <h2>Date Joined: {{ user.date_joined }}</h2>
        <h2>Number of Posts: {{ user.posts|length }}</h2>
    </section>
    <section>
        {% for post in user.posts %}
            <article>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
            </article>
        {% endfor %}
    </section>
</body>
</html>
